-- 1. Profiles Table (Extended User Info)
CREATE TABLE profiles (
  id UUID REFERENCES auth.users ON DELETE CASCADE PRIMARY KEY,
  display_name TEXT,
  email TEXT,
  role TEXT DEFAULT 'guest', -- admin, director, teacher, guest, student
  status TEXT DEFAULT 'active',
  created_at TIMESTAMPTZ DEFAULT NOW(),
  last_login TIMESTAMPTZ
);

-- 2. Students Table
CREATE TABLE students (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  academic_year TEXT,
  school_id TEXT,
  school_name TEXT,
  national_id TEXT,
  class_level TEXT,
  room TEXT,
  student_id TEXT,
  gender TEXT,
  prefix TEXT,
  first_name TEXT,
  last_name TEXT,
  birth_date DATE,
  weight NUMERIC,
  height NUMERIC,
  blood_group TEXT,
  religion TEXT,
  ethnicity TEXT,
  nationality TEXT,
  address_no TEXT,
  moo TEXT,
  soi_road TEXT,
  sub_district TEXT,
  district TEXT,
  province TEXT,
  parent_first_name TEXT,
  parent_last_name TEXT,
  parent_occupation TEXT,
  parent_relation TEXT,
  father_first_name TEXT,
  father_last_name TEXT,
  father_occupation TEXT,
  mother_first_name TEXT,
  mother_last_name TEXT,
  mother_occupation TEXT,
  disadvantage_status TEXT,
  graduation_status TEXT,
  photo_url TEXT,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

-- 3. Incoming Documents (α╕½α╕Öα╕▒α╕çα╕¬α╕╖α╕¡α╕úα╕▒α╕Ü)
CREATE TABLE incoming_docs (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  doc_number TEXT,
  from_agency TEXT,
  to_agency TEXT,
  subject TEXT,
  doc_date DATE,
  urgency TEXT,
  secrecy TEXT,
  doc_type TEXT,
  action_required TEXT,
  remark TEXT,
  file_url TEXT,
  attachment_urls JSONB DEFAULT '[]',
  status TEXT DEFAULT 'pending',
  ai_status TEXT,
  ai_suggestion TEXT,
  ai_score TEXT,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  created_by UUID REFERENCES auth.users
);

-- 4. Outgoing Documents (α╕½α╕Öα╕▒α╕çα╕¬α╕╖α╕¡α╕¬α╣êα╕ç)
CREATE TABLE outgoing_docs (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  doc_number TEXT,
  from_agency TEXT,
  to_agency TEXT,
  subject TEXT,
  doc_date DATE,
  urgency TEXT,
  secrecy TEXT,
  sender_name TEXT,
  remark TEXT,
  file_url TEXT,
  status TEXT DEFAULT 'pending',
  created_at TIMESTAMPTZ DEFAULT NOW(),
  created_by UUID REFERENCES auth.users
);

-- 5. Orders (α╕äα╕│α╕¬α╕▒α╣êα╕ç)
CREATE TABLE orders (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  order_number TEXT,
  subject TEXT,
  issuer TEXT,
  order_date DATE,
  secrecy TEXT,
  remark TEXT,
  file_url TEXT,
  status TEXT DEFAULT 'pending',
  created_at TIMESTAMPTZ DEFAULT NOW(),
  created_by UUID REFERENCES auth.users
);

-- 6. Memos (α╕Üα╕▒α╕Öα╕ùα╕╢α╕üα╕éα╣ëα╕¡α╕äα╕ºα╕▓α╕í)
CREATE TABLE memos (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  memo_number TEXT,
  subject TEXT,
  requester TEXT,
  department TEXT,
  memo_date DATE,
  urgency TEXT,
  secrecy TEXT,
  remark TEXT,
  file_url TEXT,
  status TEXT DEFAULT 'pending',
  created_at TIMESTAMPTZ DEFAULT NOW(),
  created_by UUID REFERENCES auth.users
);

-- 7. Attendance Table
CREATE TABLE attendance (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  date DATE,
  class_level TEXT,
  attendance_data JSONB, -- list of students and statuses
  summary JSONB, -- count of present, absent, etc.
  teacher_id UUID REFERENCES auth.users,
  recorded_at TIMESTAMPTZ DEFAULT NOW()
);

-- 8. WFH Logs
CREATE TABLE wfh_logs (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID REFERENCES auth.users,
  timestamp TIMESTAMPTZ DEFAULT NOW(),
  log_type TEXT, -- in, out
  location TEXT,
  details TEXT,
  gps TEXT,
  status TEXT DEFAULT 'active'
);

-- 9. Library Books
CREATE TABLE library_books (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  book_id TEXT UNIQUE,
  title TEXT,
  category TEXT,
  author TEXT,
  total_qty INTEGER DEFAULT 1,
  available_qty INTEGER DEFAULT 1,
  added_date DATE DEFAULT CURRENT_DATE,
  status TEXT DEFAULT 'available'
);

-- 10. Library Borrow
CREATE TABLE library_borrow (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  borrow_date DATE DEFAULT CURRENT_DATE,
  book_id UUID REFERENCES library_books,
  borrower_id UUID, -- Can be student_id or user_id
  borrower_name TEXT,
  return_date DATE,
  status TEXT DEFAULT 'borrowing', -- borrowing, returned
  timestamp TIMESTAMPTZ DEFAULT NOW()
);

-- 11. Library Usage Logs
CREATE TABLE library_usage_logs (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  date DATE DEFAULT CURRENT_DATE,
  time_in TIME DEFAULT CURRENT_TIME,
  time_out TIME,
  user_id UUID,
  student_id TEXT,
  name TEXT,
  level TEXT,
  purpose TEXT,
  notes TEXT,
  timestamp TIMESTAMPTZ DEFAULT NOW()
);

-- 12. System Settings
CREATE TABLE settings (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  school_name TEXT,
  school_address TEXT,
  director_name TEXT,
  current_academic_year TEXT DEFAULT '2568',
  current_term TEXT DEFAULT '1',
  school_logo_url TEXT,
  phone_number TEXT,
  local_gov_name TEXT,
  line_channel_access_token TEXT,
  line_group_id TEXT,
  gemini_api_key TEXT,
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- 13. Teachers Table
CREATE TABLE teachers (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  prefix TEXT,
  first_name TEXT,
  last_name TEXT,
  position TEXT,
  department TEXT,
  phone TEXT,
  email TEXT,
  photo_url TEXT,
  line_user_id TEXT,
  status TEXT DEFAULT 'active',
  created_at TIMESTAMPTZ DEFAULT NOW()
);

-- 14. Teacher Duties Table
CREATE TABLE teacher_duties (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  teacher_id UUID REFERENCES teachers ON DELETE CASCADE,
  duty_day TEXT, -- Monday, Tuesday, ...
  duty_type TEXT DEFAULT 'α╣Çα╕ºα╕úα╕¢α╕úα╕░α╕êα╕│α╕ºα╕▒α╕Ö',
  created_at TIMESTAMPTZ DEFAULT NOW()
);

-- 15. Document Assignments (α╕úα╕░α╕Üα╕Üα╕òα╕┤α╕öα╕òα╕▓α╕íα╕çα╕▓α╕Ö)
CREATE TABLE doc_assignments (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  doc_id UUID REFERENCES incoming_docs ON DELETE CASCADE,
  assignee_id UUID REFERENCES teachers ON DELETE CASCADE,
  instruction TEXT,
  status TEXT DEFAULT 'pending', -- pending, acknowledged, completed, closed
  staff_report TEXT,
  report_file_urls JSONB DEFAULT '[]',
  reported_at TIMESTAMPTZ,
  director_feedback TEXT,
  closed_at TIMESTAMPTZ,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

-- RLS (Row Level Security) - Basic Setup
ALTER TABLE profiles ENABLE ROW LEVEL SECURITY;
ALTER TABLE settings ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Public profiles are viewable by everyone." ON profiles FOR SELECT USING (true);
CREATE POLICY "Users can update own profile." ON profiles FOR UPDATE USING (auth.uid() = id);

CREATE POLICY "Settings are viewable by everyone." ON settings FOR SELECT USING (true);
CREATE POLICY "Only admins can update settings." ON settings FOR UPDATE USING (
  EXISTS (
    SELECT 1 FROM profiles 
    WHERE profiles.id = auth.uid() AND profiles.role = 'admin'
  )
);

-- ==========================================
-- AI COWORK MODULE (α╣Çα╕₧α╕┤α╣êα╕íα╣âα╕½α╕íα╣ê α╕íα╕ä 69)
-- ==========================================

-- 1. α╕¡α╕▒α╕¢α╣Çα╕öα╕òα╕òα╕▓α╕úα╕▓α╕çα╣éα╕¢α╕úα╣äα╕ƒα╕Ñα╣îα╣Çα╕₧α╕╖α╣êα╕¡α╣Çα╕üα╣çα╕Üα╕äα╕│α╕¬α╕▒α╣êα╕çα╕½α╕Ñα╕▒α╕ü (Global Instructions)
ALTER TABLE profiles ADD COLUMN IF NOT EXISTS ai_global_instructions TEXT;
ALTER TABLE profiles ADD COLUMN IF NOT EXISTS ai_writing_style TEXT;
ALTER TABLE profiles ADD COLUMN IF NOT EXISTS ai_preferred_model TEXT DEFAULT 'gemini-1.5-flash';

-- 2. α╕òα╕▓α╕úα╕▓α╕çα╣Çα╕üα╣çα╕Üα╕ùα╕▒α╕üα╕⌐α╕░α╣Çα╕ëα╕₧α╕▓α╕░α╕ùα╕▓α╕çα╕éα╕¡α╕çα╕äα╕úα╕╣ (AI Skills)
CREATE TABLE IF NOT EXISTS ai_skills (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  teacher_id UUID REFERENCES profiles(id) ON DELETE CASCADE,
  skill_name TEXT NOT NULL,          -- α╣Çα╕èα╣êα╕Ö "α╕òα╕úα╕ºα╕êα╕çα╕▓α╕Öα╕òα╕▓α╕íα╕úα╕╣α╕Üα╕úα╕┤α╕ä", "α╕úα╣êα╕▓α╕çα╣üα╕£α╕Öα╕üα╕▓α╕úα╕¬α╕¡α╕Ö"
  description TEXT,                  -- α╕úα╕▓α╕óα╕Ñα╕░α╣Çα╕¡α╕╡α╕óα╕öα╕¬α╕▒α╣ëα╕Öα╣å α╕éα╕¡α╕çα╕ùα╕▒α╕üα╕⌐α╕░
  system_prompt TEXT NOT NULL,      -- α╕äα╕│α╕¬α╕▒α╣êα╕çα╣Çα╕Üα╕╖α╣ëα╕¡α╕çα╕½α╕Ñα╕▒α╕ç (System Instruction)
  required_folders TEXT[],          -- α╕úα╕▓α╕óα╕èα╕╖α╣êα╕¡α╣éα╕ƒα╕Ñα╣Çα╕öα╕¡α╕úα╣îα╕ùα╕╡α╣êα╕òα╣ëα╕¡α╕çα╕öα╕╢α╕çα╕íα╕▓α╕¡α╣êα╕▓α╕Ö (α╣Çα╕èα╣êα╕Ö ['01', '05'])
  is_public BOOLEAN DEFAULT FALSE,   -- α╣üα╕èα╕úα╣îα╣âα╕½α╣ëα╕äα╕úα╕╣α╕äα╕Öα╕¡α╕╖α╣êα╕Öα╣âα╕èα╣ëα╣äα╕öα╣ëα╕½α╕úα╕╖α╕¡α╣äα╕íα╣ê
  icon_name TEXT DEFAULT 'Zap',      -- α╣äα╕¡α╕äα╕¡α╕Öα╕ùα╕╡α╣êα╕êα╕░α╣üα╕¬α╕öα╕çα╣âα╕Ö UI
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 3. α╕òα╕▓α╕úα╕▓α╕çα╣Çα╕üα╣çα╕Üα╕äα╕Ñα╕▒α╕çα╕äα╕ºα╕▓α╕íα╕úα╕╣α╣ë (AI Knowledge Base / Virtual Drive)
CREATE TABLE IF NOT EXISTS ai_knowledge_base (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  teacher_id UUID REFERENCES profiles(id) ON DELETE CASCADE,
  folder_id TEXT NOT NULL,           -- α╕úα╕½α╕▒α╕¬α╣éα╕ƒα╕Ñα╣Çα╕öα╕¡α╕úα╣î (00, 01, 02, ..., 08, 99)
  folder_name TEXT NOT NULL,         -- α╕èα╕╖α╣êα╕¡α╣éα╕ƒα╕Ñα╣Çα╕öα╕¡α╕úα╣îα╕òα╕▓α╕íα╕íα╕▓α╕òα╕úα╕Éα╕▓α╕Ö (α╣Çα╕èα╣êα╕Ö 02-α╣üα╕£α╕Öα╕üα╕▓α╕úα╕¬α╕¡α╕Ö)
  file_name TEXT NOT NULL,
  file_url TEXT NOT NULL,            -- α╕Ñα╕┤α╕çα╕üα╣îα╣äα╕¢α╕óα╕▒α╕ç Supabase Storage
  file_type TEXT,                    -- pdf, docx, md, txt
  content_text TEXT,                 -- α╕éα╣ëα╕¡α╕äα╕ºα╕▓α╕íα╕ùα╕╡α╣êα╕¬α╕üα╕▒α╕öα╕êα╕▓α╕üα╣äα╕ƒα╕Ñα╣î α╕¬α╕│α╕½α╕úα╕▒α╕Üα╣âα╕½α╣ë AI α╕¡α╣êα╕▓α╕Öα╣Çα╕úα╣çα╕ºα╣å
  is_shared BOOLEAN DEFAULT FALSE,   -- α╕£α╕¡. α╕½α╕úα╕╖α╕¡α╕½α╕▒α╕ºα╕½α╕Öα╣ëα╕▓α╕ºα╕┤α╕èα╕▓α╕üα╕▓α╕ú α╣Çα╕½α╣çα╕Öα╣äα╕öα╣ëα╕½α╕úα╕╖α╕¡α╣äα╕íα╣ê
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 4. α╕òα╕▒α╣ëα╕çα╕äα╣êα╕▓ RLS (Row Level Security) α╣Çα╕₧α╕╖α╣êα╕¡α╕äα╕ºα╕▓α╕íα╣Çα╕¢α╣çα╕Öα╕¬α╣êα╕ºα╕Öα╕òα╕▒α╕º
ALTER TABLE ai_skills ENABLE ROW LEVEL SECURITY;
ALTER TABLE ai_knowledge_base ENABLE ROW LEVEL SECURITY;

-- α╕üα╕Äα╕¬α╕│α╕½α╕úα╕▒α╕Ü ai_skills
CREATE POLICY "Users can manage their own skills" 
ON ai_skills FOR ALL 
USING (auth.uid() = teacher_id);

CREATE POLICY "Users can view public skills" 
ON ai_skills FOR SELECT 
USING (is_public = TRUE);

-- α╕üα╕Äα╕¬α╕│α╕½α╕úα╕▒α╕Ü ai_knowledge_base
CREATE POLICY "Users can manage their own knowledge files" 
ON ai_knowledge_base FOR ALL 
USING (auth.uid() = teacher_id);

CREATE POLICY "Directors can view shared files" 
ON ai_knowledge_base FOR SELECT 
USING (
  is_shared = TRUE AND 
  (SELECT role FROM profiles WHERE id = auth.uid()) IN ('director', 'admin')
);

-- α╕¡α╕┤α╕Öα╣Çα╕öα╣çα╕üα╕ïα╣îα╣Çα╕₧α╕╖α╣êα╕¡α╕äα╕ºα╕▓α╕íα╕úα╕ºα╕öα╣Çα╕úα╣çα╕º
CREATE INDEX IF NOT EXISTS idx_ai_skills_teacher ON ai_skills(teacher_id);
CREATE INDEX IF NOT EXISTS idx_ai_kb_teacher ON ai_knowledge_base(teacher_id);
CREATE INDEX IF NOT EXISTS idx_ai_kb_folder ON ai_knowledge_base(folder_id);

`n-- 16. Utility Bills (ระบบเบิกค่าสาธารณูปโภค)`nCREATE TABLE IF NOT EXISTS utilities (`n  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,`n  type TEXT NOT NULL, -- electricity, water, telephone, internet`n  academic_year TEXT,`n  month TEXT,`n  amount NUMERIC(10, 2),`n  invoice_number TEXT,`n  bill_date DATE,`n  budget_source TEXT,`n  status TEXT DEFAULT 'pending',`n  remark TEXT,`n  created_at TIMESTAMPTZ DEFAULT NOW(),`n  created_by UUID REFERENCES auth.users`n);`n`nALTER TABLE utilities ENABLE ROW LEVEL SECURITY;`nCREATE POLICY 'Everyone can view utilities' ON utilities FOR SELECT USING (true);`nCREATE POLICY 'Authenticated users can manage utilities' ON utilities FOR ALL USING (auth.uid() = created_by);
`n-- Update Utilities to support units and multiple items`nALTER TABLE utilities ADD COLUMN IF NOT EXISTS units_used NUMERIC(10, 2);`n`nCREATE TABLE IF NOT EXISTS utility_items (`n  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,`n  utility_id UUID REFERENCES utilities(id) ON DELETE CASCADE,`n  meter_number TEXT,`n  invoice_number TEXT,`n  units_used NUMERIC(10, 2),`n  amount NUMERIC(10, 2),`n  created_at TIMESTAMPTZ DEFAULT NOW()`n);`n`nALTER TABLE utility_items ENABLE ROW LEVEL SECURITY;`nCREATE POLICY 'Everyone can view utility_items' ON utility_items FOR SELECT USING (true);`nCREATE POLICY 'Authenticated users can manage utility_items' ON utility_items FOR ALL USING (auth.uid() IN (SELECT created_by FROM utilities WHERE id = utility_id));
`n-- Add book and receipt number to utility_items`nALTER TABLE utility_items ADD COLUMN IF NOT EXISTS book_number TEXT;`nALTER TABLE utility_items RENAME COLUMN invoice_number TO receipt_number;
`n-- Add requester info to utilities`nALTER TABLE utilities ADD COLUMN IF NOT EXISTS requester_name TEXT;`nALTER TABLE utilities ADD COLUMN IF NOT EXISTS requester_position TEXT;
